<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>nyvfgnve.fgrnq@qrfvtaqvfpybfher.pbz</string>
	<key>contactName</key>
	<string>Alistair Stead</string>
	<key>description</key>
	<string>TextMate bundle for PHPSpec.</string>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>------------------------------------</string>
			<string>6FEE0AE9-E2B2-4533-81CC-6E26699FC45A</string>
			<string>CFC43068-F401-4AE9-ADD0-0E87A3D1D18F</string>
			<string>C1394A74-2DAC-4772-B07D-5450EBCB01F8</string>
			<string>------------------------------------</string>
			<string>057A52FE-6821-4F2E-8FEC-16CBF5A33E60</string>
			<string>7363A2EB-FDD5-48FF-B13D-CD312E7E7030</string>
			<string>------------------------------------</string>
			<string>0801AD20-5990-4974-8FF3-5855E003C894</string>
			<string>BB321D85-0B48-4C15-AB18-D5C0DE1EB605</string>
			<string>3FF2748E-E57B-4EAA-952F-F8258E42F19B</string>
			<string>23EA3D90-B4C7-41C0-9E60-EA46966A4A58</string>
			<string>9A3E2DE9-8372-40CF-AE78-2D2C0128937F</string>
			<string>89CF003F-C69A-4B3D-B8B2-FCC7191146B4</string>
			<string>------------------------------------</string>
			<string>06B2B49A-DEEE-4A47-AEBC-725B63D8D735</string>
			<string>23EA3D90-B4C9-41C0-9E60-EA46966A4A57</string>
			<string>------------------------------------</string>
		</array>
		<key>submenus</key>
		<dict>
			<key>057A52FE-6821-4F2E-8FEC-16CBF5A33E60</key>
			<dict>
				<key>items</key>
				<array>
					<string>61F17166-F1E6-41FD-B3DE-E9955C208FEA</string>
					<string>8580E3C1-E234-4129-9DF9-C589587FB3E9</string>
					<string>AFEF9163-22EC-4535-9343-1E3CB219EE4E</string>
				</array>
				<key>name</key>
				<string>Expectations</string>
			</dict>
			<key>61F17166-F1E6-41FD-B3DE-E9955C208FEA</key>
			<dict>
				<key>items</key>
				<array>
					<string>49BED714-A642-4753-9CB8-DA2DE3F8696A</string>
					<string>3AB6E90D-4F05-48C7-954B-0EC3E7F0F3BF</string>
					<string>7CD23870-D979-4F2F-9A43-9F8EF09049E4</string>
					<string>367AEFFB-B0F4-4024-8574-7070067985C7</string>
					<string>F625DC6E-E4D9-47C3-8D56-32E7C6598A32</string>
					<string>098548C5-D64D-415C-917A-9DDF1B5094FF</string>
					<string>B945AD19-3697-4E7E-A0CC-76028E6A99D9</string>
					<string>F610190C-1409-49C9-BB46-9BB490F206E0</string>
					<string>B813D508-56D5-4142-8F60-539AF8B39E69</string>
					<string>AA929D16-4690-49C2-885A-971FC47F40E4</string>
					<string>07EF8BC0-B552-4C49-87E7-F4F33B8EF17F</string>
					<string>1629B2A1-568F-456E-97E1-E6F70438CBD3</string>
				</array>
				<key>name</key>
				<string>General</string>
			</dict>
			<key>7363A2EB-FDD5-48FF-B13D-CD312E7E7030</key>
			<dict>
				<key>items</key>
				<array>
					<string>DF5CC932-E257-4F31-A7A8-FA2AD51EE184</string>
				</array>
				<key>name</key>
				<string>Mocks</string>
			</dict>
			<key>8580E3C1-E234-4129-9DF9-C589587FB3E9</key>
			<dict>
				<key>items</key>
				<array>
					<string>6D861E57-0CD5-49AC-9DCC-613E99CC3979</string>
					<string>D7BEF5E8-AAB3-4FFC-9694-C3748FA8D99C</string>
					<string>527E8CD3-3584-4061-B566-1C904E6006D0</string>
					<string>A84909EC-7020-415D-8CA4-7C972DA35602</string>
					<string>4D1AB37C-3538-4311-B104-08876923BE1E</string>
					<string>59D86511-D470-44F1-B909-8F20C076167B</string>
					<string>2B334B90-39EE-4DDD-83AD-22E6F760A37C</string>
					<string>44FFCA4A-EDD6-4401-B29F-D818EF93715F</string>
				</array>
				<key>name</key>
				<string>Class / Type</string>
			</dict>
			<key>AFEF9163-22EC-4535-9343-1E3CB219EE4E</key>
			<dict>
				<key>items</key>
				<array>
					<string>D59D613D-0A6D-4BCC-9475-715AD734CD86</string>
					<string>120E710D-BF80-49FA-8207-E025882CF736</string>
					<string>181734B3-FD7A-4F2A-BA22-D5C580CAA159</string>
				</array>
				<key>name</key>
				<string>Collections</string>
			</dict>
		</dict>
	</dict>
	<key>name</key>
	<string>PHPSpec</string>
	<key>uuid</key>
	<string>AF01A632-49D1-41B2-9055-815916CA13CB</string>
</dict>
</plist>
